---
import facebookIcon from "/public/icons/facebook.svg";
import instaIcon from "/public/icons/insta.svg";

const pathname = Astro.url.pathname;

//see the path to figure out the background color for the page
const footerClass = pathname === "/" ? "index" :
  pathname.startsWith("/bureau") ? "bureau" :
	pathname.startsWith("/bureau-galleri") ? "bureau-galleri" :
  pathname.startsWith("/kunsthal") ? "kunsthal" :
	pathname.startsWith("/kunsthal-galleri") ? "kunsthal-galleri" :
	pathname.startsWith("/events") ? "events" : "";
---

<style>
  @import "../styles/global.css";
	@import "../variables/colors.css";
  @import "../variables/text.css";

  footer {
    padding: 65px 0 15px;
    color: white;

    &.index, &.events {
			background-color: var(--footer_color_index);
		}

		&.bureau, &.bureau-galleri {
			background-color: var(--footer_color_bureau);
		}

		&.kunsthal, &.kunsthal-galleri {
			background-color: var(--footer_color_kunsthal);
		}
  }

  .footer-wrapper {
    width: 86%;
    max-width: 1550px;
    margin: auto;
  }

  .line {
    height: 2px;
    background: white;
    margin-bottom: 45px;
  }

  /* TOP */

  .footer-top {
    display: grid;
    grid-template-columns: 55% 45%;
    align-items: start;
    margin-bottom: 45px;
  }

  .hours-wrapper {
    display: flex;
  }

  .hours-column {
    width: 50%;
  }

  .footer-title {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 5px;
    margin-bottom: 10px;
  }

  .hours-title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .hours-item {
    display: flex;
    gap: 18px;
    font-size: 20px;
    margin-bottom: 6px;
    line-height: 1.1;

    span:first-child {
      width: 55px;
    }

  }

  .contact {
    margin-top: 0;
  }
  .contact-grid {
    font-size: 20px;
    display: grid;
    grid-template-columns: 180px auto;

    margin-bottom: 50px;
  }

  .socials {
    display: flex;
    gap: 30px;

    margin-top: -30px;
  }

  .socials img {
    width: 54px;
  }

  .newsletter {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-top: 30px;
  }

  .newsletter h2 {
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 6px;
    margin-bottom: 10px;
  }

  .newsletter p {
    font-size: 1.25rem;
  }

  .news-form {
    display: flex;
    align-items: center;
    gap: 20px;

    input, button{
      height: 72px;

      border: none;
      outline: none;
      border-radius: 50px;

      font-size: 1.4rem;

      color: white;

      &.index, &.events {
        background-color: var(--input_color_index);
      }

      &.bureau, &.bureau-galleri {
        background-color: var(--input_color_bureau);
        color: var(--input_text_color_bureau);
      }

      &.kunsthal, &.kunsthal-galleri {
        background-color: var(--input_color_kunsthal);
      }
    }

    input {
      width: 520px;
      padding: 0 35px;
    }

    button{
      cursor: pointer;
      width: 165px;
    }
  }

  .copyright {
    text-align: center;
    font-size: 1.6rem;
    margin-top: 35px;
  }

  @media (max-width: 900px) {
    .footer-top {
      grid-template-columns: 1fr;
      gap: 50px;
    }

    .hours-wrapper {
      flex-wrap: wrap;
      gap: 50px;
    }

    .newsletter {
      grid-template-columns: 1fr;
      gap: 30px;
    }

    .news-form {
      flex-direction: column;
    }

    .news-form input,
    .news-form button {
      width: 100%;
    }
  }
</style>

<footer class={footerClass}>
  <div class="footer-wrapper">
    <div class="line"></div>

    <div class="footer-top">
      <div>
        <div class="footer-title">Opening hours</div>
        <div class="hours-wrapper">
          <div class="hours-column">

            <div class="hours-title">Kunsthal:</div>

            <div class="hours-item"><span>Mon:</span><span>11-19</span></div>
            <div class="hours-item"><span>Tue:</span><span>11-19</span></div>
            <div class="hours-item"><span>Wed:</span><span>11-19</span></div>
            <div class="hours-item"><span>Thu:</span><span>11-19</span></div>
            <div class="hours-item"><span>Fri:</span><span>11-19</span></div>
            <div class="hours-item"><span>Sat:</span><span>Closed</span></div>
            <div class="hours-item"><span>Sun:</span><span>Closed</span></div>
          </div>

          <div class="hours-column">
            <div class="hours-title">Bureau:</div>

            <div class="hours-item"><span>Mon:</span><span>11-19</span></div>
            <div class="hours-item"><span>Tue:</span><span>11-19</span></div>
            <div class="hours-item"><span>Wed:</span><span>11-19</span></div>
            <div class="hours-item"><span>Thu:</span><span>11-19</span></div>
            <div class="hours-item"><span>Fri:</span><span>11-19</span></div>
            <div class="hours-item"><span>Sat:</span><span>Closed</span></div>
            <div class="hours-item"><span>Sun:</span><span>Closed</span></div>
          </div>
        </div>
      </div>

      <div class="contact">
        <div class="footer-title">Contact</div>

        <div class="contact-grid">
          <p>Book a table</p>
          <p>+45 26786819</p>

          <p>Book a stay</p>
          <p>pernellecaspersen@yahoo.dk</p>

          <p>Book an event</p>
          <p>pwedrowski@yahoo.dk</p>
        </div>

        <div class="socials">
          <a href="#">
            <img src={facebookIcon.src} />
          </a>

          <a href="#">
            <img src={instaIcon.src} />
          </a>
        </div>
      </div>
    </div>

    <div class="line" style="margin-top:35px"></div>

    <div class="newsletter">
      <div>
        <h2>Sign up for our newsletter</h2>

        <p>Sign up to receive news from our galleries or locations →</p>
      </div>

      <div class="news-form">
        <input class={footerClass} type="email" placeholder="Your E-mail .." />

        <button class={footerClass}> Sign Up </button>
      </div>
    </div>

    <div class="copyright">@2026 Brantebjerg</div>
  </div>
</footer>
